USE [master]
GO
/****** Object:  Database [Historias Clinicas]    Script Date: 13/4/2026 23:54:55 ******/
CREATE DATABASE [Historias Clinicas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLINICA_PRUEBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CLINICA_PRUEBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLINICA_PRUEBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CLINICA_PRUEBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Historias Clinicas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Historias Clinicas]
GO
/****** Object:  Table [dbo].[BARRIOS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARRIOS](
	[id_barrio] [int] IDENTITY(1,1) NOT NULL,
	[barrio] [varchar](30) NULL,
	[id_ciudad] [int] NULL,
 CONSTRAINT [PK_BARRIOS] PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDADES]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADES](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[ciudad] [varchar](30) NULL,
	[id_departamento] [int] NULL,
 CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTAS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTAS](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NULL,
	[id_paciente] [int] NULL,
	[fecha_hora] [datetime] NULL,
 CONSTRAINT [PK_CONSULTAS] PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[departamento] [varchar](30) NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLES_CONSULTAS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_CONSULTAS](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_consulta] [int] NULL,
	[diagnosticos] [varchar](200) NULL,
	[id_estudios_especiales] [int] NULL,
 CONSTRAINT [PK_DETALLES_CONSULTAS] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESPECIALIDADES]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPECIALIDADES](
	[id_especialidad] [int] NOT NULL,
	[especialidad] [varchar](100) NULL,
 CONSTRAINT [PK_ESPECIALIDADES] PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTUDIOS_ESPECIALES]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIOS_ESPECIALES](
	[id_estudios_especiales] [int] NOT NULL,
	[descripcion] [varchar](200) NULL,
	[fecha_estudio] [datetime] NULL,
 CONSTRAINT [PK_ESTUDIOS_ESPECIALES] PRIMARY KEY CLUSTERED 
(
	[id_estudios_especiales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENEROS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENEROS](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[tipo_genero] [varchar](20) NULL,
 CONSTRAINT [PK_GENEROS] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICOS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICOS](
	[id_medico] [int] NOT NULL,
	[matricula] [varchar](30) NULL,
	[id_especialidad] [int] NULL,
	[id_persona] [int] NULL,
 CONSTRAINT [PK_MEDICOS] PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBRAS_SOCIALES]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBRAS_SOCIALES](
	[id_obra_social] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NULL,
	[cuit] [varchar](50) NULL,
	[categoria] [varchar](20) NULL,
 CONSTRAINT [PK_OBRAS_SOCIALES] PRIMARY KEY CLUSTERED 
(
	[id_obra_social] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NULL,
	[id_obra_social] [int] NULL,
	[turno] [bit] NULL,
	[particular] [bit] NULL,
 CONSTRAINT [PK_PACIENTES] PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAS](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[documento] [varchar](20) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[cuil] [varchar](20) NULL,
	[fecha_nac] [date] NULL,
	[id_tipo_doc] [int] NULL,
	[id_genero] [int] NULL,
	[id_barrio] [int] NULL,
	[id_tipo_tel] [int] NULL,
	[num_tel] [varchar](30) NULL,
	[email] [varchar](30) NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DOC]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DOC](
	[id_tipo_doc] [int] IDENTITY(1,1) NOT NULL,
	[tipo_doc] [varchar](10) NULL,
 CONSTRAINT [PK_TIPO_DOC] PRIMARY KEY CLUSTERED 
(
	[id_tipo_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_TELEFONOS]    Script Date: 13/4/2026 23:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_TELEFONOS](
	[id_tipo_tel] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NULL,
 CONSTRAINT [PK_TIPO_TEL] PRIMARY KEY CLUSTERED 
(
	[id_tipo_tel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BARRIOS]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOS_CIUDADES] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[CIUDADES] ([id_ciudad])
GO
ALTER TABLE [dbo].[BARRIOS] CHECK CONSTRAINT [FK_BARRIOS_CIUDADES]
GO
ALTER TABLE [dbo].[CIUDADES]  WITH CHECK ADD  CONSTRAINT [FK_CIUDADES_DEPARTAMENTOS] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[DEPARTAMENTOS] ([id_departamento])
GO
ALTER TABLE [dbo].[CIUDADES] CHECK CONSTRAINT [FK_CIUDADES_DEPARTAMENTOS]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOS_CONSULTAS] FOREIGN KEY([id_medico])
REFERENCES [dbo].[MEDICOS] ([id_medico])
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_MEDICOS_CONSULTAS]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTES_CONSULTAS] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[PACIENTES] ([id_paciente])
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_PACIENTES_CONSULTAS]
GO
ALTER TABLE [dbo].[DETALLES_CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_DETALLES_CONSULTAS] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[CONSULTAS] ([id_consulta])
GO
ALTER TABLE [dbo].[DETALLES_CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_DETALLES_CONSULTAS]
GO
ALTER TABLE [dbo].[DETALLES_CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_ESTUDIOS_ESPECIALES_DETALLES_CONSULTAS] FOREIGN KEY([id_estudios_especiales])
REFERENCES [dbo].[ESTUDIOS_ESPECIALES] ([id_estudios_especiales])
GO
ALTER TABLE [dbo].[DETALLES_CONSULTAS] CHECK CONSTRAINT [FK_ESTUDIOS_ESPECIALES_DETALLES_CONSULTAS]
GO
ALTER TABLE [dbo].[MEDICOS]  WITH CHECK ADD  CONSTRAINT [FK_ESPECIALIDADES_MEDICOS] FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[ESPECIALIDADES] ([id_especialidad])
GO
ALTER TABLE [dbo].[MEDICOS] CHECK CONSTRAINT [FK_ESPECIALIDADES_MEDICOS]
GO
ALTER TABLE [dbo].[MEDICOS]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAS_MEDICOS] FOREIGN KEY([id_persona])
REFERENCES [dbo].[PERSONAS] ([id_persona])
GO
ALTER TABLE [dbo].[MEDICOS] CHECK CONSTRAINT [FK_PERSONAS_MEDICOS]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_OBRAS_SOCIALES_PACIENTES] FOREIGN KEY([id_obra_social])
REFERENCES [dbo].[OBRAS_SOCIALES] ([id_obra_social])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_OBRAS_SOCIALES_PACIENTES]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAS_PACIENTES] FOREIGN KEY([id_persona])
REFERENCES [dbo].[PERSONAS] ([id_persona])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_PERSONAS_PACIENTES]
GO
ALTER TABLE [dbo].[PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOS_PERSONAS] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[BARRIOS] ([id_barrio])
GO
ALTER TABLE [dbo].[PERSONAS] CHECK CONSTRAINT [FK_BARRIOS_PERSONAS]
GO
ALTER TABLE [dbo].[PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_GENEROS_PERSONAS] FOREIGN KEY([id_genero])
REFERENCES [dbo].[GENEROS] ([id_genero])
GO
ALTER TABLE [dbo].[PERSONAS] CHECK CONSTRAINT [FK_GENEROS_PERSONAS]
GO
ALTER TABLE [dbo].[PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_TIPOS_DOC_PERSONAS] FOREIGN KEY([id_tipo_doc])
REFERENCES [dbo].[TIPOS_DOC] ([id_tipo_doc])
GO
ALTER TABLE [dbo].[PERSONAS] CHECK CONSTRAINT [FK_TIPOS_DOC_PERSONAS]
GO
ALTER TABLE [dbo].[PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_TIPOS_TEL_PERSONAS] FOREIGN KEY([id_tipo_tel])
REFERENCES [dbo].[TIPOS_TELEFONOS] ([id_tipo_tel])
GO
ALTER TABLE [dbo].[PERSONAS] CHECK CONSTRAINT [FK_TIPOS_TEL_PERSONAS]
GO
USE [master]
GO
